@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: "Andale Mono", monospace;
  }

  body {
    @apply bg-black font-mono;
  }

  h1, h2, h3, h4, h5, h6, p, span, a, div {
    font-family: "Andale Mono", monospace !important;
  }
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.animate-pulse {
  animation: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}